<!DOCTYPE html>

<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
        <link href="style.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        <title>Bulgar.io</title>
    </head>

    <body>
        <form method="post" action="/register">
            <div class="box">

                <h1>Bulgar.io Register Page</h1>
                <% if(message.length > 0) { %>
                    <div class="alert_message"><%= message %></div>
                <% } %>
                Username <input type="username" name="username" value=""  class="username" />

                Password <input type="password" name="password" value="" class="password" />

                <a href="#"><button type="submit" id="btn2" style="margin-left: 84px">Sign Up</button></a>

            </div>

        </form>

        <p>Already have an account? <u style="color:#f1c40f;"> <a href="./login"> Click Here! </a></u></p>

    </body>
</html>
